<div class="row">
	<div>
		<h2 class="component-heading">Create/Edit Notice</h2>
	</div>
	<br><br><br>
	<div>
		<table width="700">
			<tr class="spaceunder">
				<td class="notice-form-label" >Title:*</td>
				<td align="right">
					<input type="text" #title style="width: 500px;" [(ngModel)]="titleInput">
				</td>
			</tr>
			<br>
			<tr class="spaceunder">
				<td class="notice-form-label">Details:*</td>
				<td align="right">
					<textarea rows="4"  #description cols="50" style="width: 500px; height:100px;" placeholder="Details" [(ngModel)]="textareaField"></textarea>
				</td>
			</tr>
			<br>
			<tr class="spaceunder">
				<td class="notice-form-label">End Date: </td>
				<td align="right">
					<input type="text" #date style="width: 500px;" [(ngModel)]="endDateInput">
				</td>
			</tr>
			<br>
			<tr>
				<td></td>
				<td align="right">
					<button (click)="saveNotice(title.value, description.value, date.value)">Save</button>
					<button (click)="resetNotice()" [hidden]="hideClear">Clear</button>
					<button (click)="deleteNotice()" [hidden]="hideDelete">Delete</button>
				</td>    
			</tr>
		</table>
	</div>
	
	<br><p class="component-heading">Notices</p><br><br>
	
	<app-notice-display (noticeEvent)="editNotice($event)"  [noticeDisplay]="noticeList"></app-notice-display>
    <!--<div *ngFor="let noticeItem of noticeList">
		<table style="margin-left:-25px; margin-top:-12px" width="720" >
			<tr>
				<td align="left" width="97%">
					<ul class="list"> 
						<li class="list-question">{{noticeItem.title}}</li>
						<li>{{noticeItem.description}}</li>
						<li>{{noticeItem.date}}</li>
					</ul>
				</td>
				<td left="right" style="vertical-align:text-top;" width="3%">
					<button (click)="editNotice(noticeItem)">Edit</button>
				</td>
			</tr>
		</table>
		<hr style="margin-top: -3px;"/>
    </div>-->
	
</div>
