<div class="row">
	<div>
		<h2 class="component-heading">Create/Edit FAQs</h2>
	</div>
	<br><br><br>
	
	<button (click)="showFAQForm()">Create New FAQ</button><br><br>
	
	<div [hidden]="faqForm">
		<table width="700">
			<tr class="spaceunder">
				<td class="faq-form-label" >Question:</td>
				<td align="right">
					<input type="text" #question style="width: 500px;" [(ngModel)]="questionInput">
				</td>
			</tr>
			<br>
			<tr class="spaceunder">
				<td class="faq-form-label">Answer:</td>
				<td align="right">
					<textarea rows="4"  #answer cols="50" style="width: 500px; height:100px;" placeholder="Details" [(ngModel)]="textareaField"></textarea>
				</td>
			</tr>
			<br>
			<tr>
				<td></td>
				<td align="right">
					<button (click)="saveFAQ(question.value, answer.value)">Save</button>
					<button (click)="resetFAQ()" [hidden]="hideClear">Clear</button>
					<button (click)="deleteFAQ()" [hidden]="hideDelete">Delete</button>
				</td>    
			</tr>
		</table>
	</div>
	<br><br><br>
    <div *ngFor="let faqItem of faqList">
		<table style="margin-left:-25px; margin-top:-12px" width="720" >
			<tr>
				<td align="left" width="97%">
					<ul class="list"> 
						<li class="list-question">{{faqItem.question}}</li>
						<li>{{faqItem.answer}}</li>
					</ul>
				</td>
				<td left="right" style="vertical-align:text-top;" width="3%">
					<button (click)="editFAQ(faqItem)">Edit</button>
				</td>
			</tr>
		</table>
		<hr style="margin-top: -3px;"/>
    </div>
	
</div>
